.card {
  background-color: #2B0139; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  width: 300px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255,255,255,0.3);
}

.card-image {
  width: 100%;
  border-radius: 12px;
  border: 4px solid #b19cd9; 
}

.card-title {
  font-family: 'Cinzel Decorative', serif;
  margin: 0.5rem 0 0;
  color: #FCE5EC; 
  font-size: 2.0rem;
}

.card-partner {
  font-size: 20px; 
  font-family: "Dosis", sans-serif; 
  color: #FCE5EC;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.card-button {
  background: linear-gradient(135deg, #ac98cc, #7b5ea2); 
  color: #2B0139;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-top: 0.5rem; 
}

.card-button:hover {
  background-color: #d8bfff; 
  transform: translateY(-2px);
}

.card-button:focus,
.card-button:active {
  outline: none;
  border: 2px solid #ff99ff;
  box-shadow: 0 0 8px #ffb3ff;
}