@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Cinzel+Decorative:wght@700&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif; 
  background-color: #1a0d3b; 
  color: white;
}

.instructions {
  font-family: "Dosis", sans-serif; 
  text-align: center;
  background: linear-gradient(135deg, #ac98cc, #7b5ea2); 
  color: #fff;
  border-radius: 12px;
  padding: 1rem 1.5rem; 
  margin: 20px auto; 
  max-width: 800px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem; 
  line-height: 1.5;
}

.app-background {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,rgba(23, 0, 36, 1) 7%, rgba(106, 9, 121, 1) 69%, rgba(255, 0, 166, 1) 100%);
  background-attachment: fixed;   
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image {
  max-width: 1000px;       
  height: 400px;           
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4b0082; 
  border-radius: 12px;
  border: 4px solid #b19cd9; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 10px; 
}

nav {
  display: flex;
  justify-content: left; 
  gap: 30px;
  padding: 7px 0;
  background: linear-gradient(135deg, #4b0082, #ac98cc, #ff00a6);
  font-family: 'Cinzel Decorative', serif;
  width: 100%; 
  top: 0;
  border-bottom: 5px solid #1a0d3b;
  border-left: 30px solid #1a0d3b;
  z-index: 1000;
}

nav a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 0.2s ease;
  text-decoration: None;
}

nav a:hover {
  color:#1a0d3b; 
}

.card {
  background-color: #2B0139; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  width: 300px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255,255,255,0.3);
}

.card-image {
  width: 100%;
  border-radius: 12px;
  border: 4px solid #b19cd9; 
}

.card-title {
  font-family: 'Cinzel Decorative', serif;
  margin: 0.5rem 0 0;
  color: #FCE5EC; 
  font-size: 2.0rem;
}

.card-partner {
  font-size: 20px; 
  font-family: "Dosis", sans-serif; 
  color: #FCE5EC;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.card-button {
  background: linear-gradient(135deg, #ac98cc, #7b5ea2); 
  color: #2B0139;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-top: 0.5rem; 
}

.card-button:hover {
  background-color: #d8bfff; 
  transform: translateY(-2px);
}

.card-button:focus,
.card-button:active {
  outline: none;
  border: 2px solid #ff99ff;
  box-shadow: 0 0 8px #ffb3ff;
}

.countdown-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.countdown-box {
  background: linear-gradient(135deg, #ac98cc, #7b5ea2);
  border-radius: 12px;
  padding: 2rem 1.5rem;
  width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel Decorative', serif;
  border-bottom: 2px solid white; 
}

.number {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Cinzel Decorative', serif;
  padding-top: 30px; 
  margin-top: 80px; 
  font-size: 30px; 
  border-top: 3px solid #1a0d3b; 
}