@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Cinzel+Decorative:wght@700&display=swap');

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    background: linear-gradient(90deg, rgba(23, 0, 36, 1) 7%, rgba(106, 9, 121, 1) 69%, rgba(255, 0, 166, 1) 100%);
    color: white;
}

h1 {
    font-size: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 25px
}

.theme {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 1px;
}

.container {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(23, 0, 36, 1) 7%, rgba(106, 9, 121, 1) 69%, rgba(255, 0, 166, 1) 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}

.contestant-card {
    background-color: #2B0139;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.featured-video {
    margin: 10px 0;
    background-color: #4b0082;
    border-radius: 12px;
    border: 4px solid #b19cd9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 800px;
    height: 475px;
}

.featured-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contestant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}

.contestant-card h2 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 2.0em;
    margin-bottom: 0.5rem;
    color: #FCE5EC;
}

.contestant-card p {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    color: #FCE5EC;
}

.contestant-card.eliminated {
    background-color: #8B0000;
    color: #fff;
}

.week-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.week-buttons button {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    background-color: #2B0139;
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Cinzel Decorative', serif;
}

.week-buttons button:hover,
.week-buttons button:focus,
.week-buttons button:active {
    outline: none;
    box-shadow: none;
    color: #ffd700;
    transform: translateY(-2px);
}