html {
    font-size: larger; 
    font-family: "Audiowide", sans-serif;
}

header {
    background: linear-gradient(
        90deg,
        rgba(2, 48, 22, 1) 0%,
        rgba(105, 138, 85, 1) 100%,
        rgba(20, 105, 55, 1) 100%,
        rgba(237, 221, 83, 1) 87%
    );    
    padding: 5px;             
    text-align: center;  
    text-shadow: 2px 2px 5px #F09440;
}

footer {
    background: linear-gradient(
        90deg,
        rgba(2, 48, 22, 1) 0%,
        rgba(105, 138, 85, 1) 100%,
        rgba(20, 105, 55, 1) 100%,
        rgba(237, 221, 83, 1) 87%
    );    
    padding: 20px;             
    text-align: center;  
}

p {
    color: white
}

h2 {
    text-align: center;
}

h4 {
    font-size: larger;
}

body {
    background-color: blanchedalmond;
}

.topic_heading {
    color:white; 
    background-color: #F09440;
    padding: 10px; 
    text-align: center;
    font-size: 30px
}

#main_title h1 {
    color: #f2f2f2;               
    font-size: 75px;
    letter-spacing: 4px; 
    font-size: 100px; 
}

#main_title p {
    background: linear-gradient(
        90deg,
        rgba(2, 48, 22, 1) 0%,
        rgba(105, 138, 85, 1) 100%,
        rgba(20, 105, 55, 1) 100%,
        rgba(237, 221, 83, 1) 87%
    );    
    color: #F09440; 
    font-style: italic;
    text-shadow: none;
    font-size: 30px
}

/* FLEX CONTAINER */
.flexbox {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;     
    justify-content: center;
    padding: 20px;
}

/* CARD STYLING */
.card {
    background-color: #F09440; 
    padding: 20px;
    flex: 1 1 200px;
    max-width: 250px; 
    border-radius: 10px;
    color: #146937;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #F0B36A;
    box-shadow: 0px 8px 16px#F09440;
}

.card img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid #146937; 
}

.card p {
    color:#146937
}

.card_text {
    margin-top: 10px;
    text-align: center;
}

/* NAV BAR */
.topnav {
    background-color: #F09440;
    display: flex;      
    justify-content: center;  
}

.topnav a {
    display: inline-block;  
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #F0B36A;
    color: #146937;
    border: 3px solid #146937;   
}

.topnav h4{
    font-size: 30px
}

/* IMAGE GRID OF DINO WISH LIST */
.image-grid {
  display: flex;
  flex-wrap: wrap;   
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px; 
  max-width: 650px; 
  margin: 0 auto;  
  background-color:#146937;
  padding: 20px; 
  border-radius: 10px;
  justify-content: center;
}

.image-grid img {
  width: 200px;   
  height: 200px; 
  border-radius: 10px; 
  border: 3px solid #F09440;   
}

.image-grid img:hover {
    box-shadow: 0px 8px 16px #F09440;
}

.image-grid a {
    text-decoration: none;
    color:#146937; 
    text-align: center;
}

.image-grid p {
    color:#F09440; 
}

.Text-block {
    background-color:#F0B36A;
    color:#146937; 
    border-radius: 10px;
    text-align: center; 
}

#dino_rant {
  max-width: 500px;
  margin: 0 auto;      
  text-align: center; 
  padding: 10px; 
}